.detailsNFTContainer {
  background-color: #adabab8e;
  color: white;
  padding: 20px;
  border: 1px solid #dfd7d7;
  border-radius: 10px;
}

.nftImage {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.detailsContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nftInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nftTitle,
.nftLTP {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.nftAuthor,
.nftPrice {
  font-size: 1.5rem;
  font-weight: lighter;
  color: #bebdbd;
  margin-bottom: 0.2rem;
}

.nftOwner {
  font-size: 1.5rem;
  color: #bebdbd;
  margin-bottom: 0.2rem;
}

.ownerHistory {
  margin-top: 1rem;
}

.ownerHistory ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
}

.ownerHistory li {
  font-size: 1.5rem;
  color: #bebdbd;
  margin-bottom: 0.2rem;
}

.likeContainer {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 10px;
  border-top: 1px solid #dfd7d7;
}

.heartIcon {
  margin-right: 0.5rem;
  font-size: 2rem;
  color: #dc3545;
}

.likeCount {
  font-size: 1.5rem;
  color: #ccc;
}

.likeButton {
  margin-left: auto;
}

.nftDescription {
  margin: 0 1rem;
}

.nftDescription h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.nftDescription p {
  line-height: 1.6;
}

.buyButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 20px;
}

.buyButton:hover {
  background-color: #0056b3;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.errorContainer h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.errorContainer p {
  font-size: 16px;
  margin-bottom: 20px;
}

.backButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 1rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .detailsNFTContainer {
    padding: 1rem;
  }

  .nftImage {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .detailsContent {
    max-width: 100%;
  }

  .nftInfo {
    flex-direction: column;
    align-items: flex-start;
  }
}